body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
  display: flex;
  justify-content: space-around;
}
#desktopView{
  width: 58%;
  display: flex;
   justify-content: space-between;
   column-gap: 2rem;
}
/* #mobileView{
  display: none;
} */
#desktopViewNone{
  display: none;
}

@media screen and (max-width:800px) {
  #mobileView{
    display: block;
  }
  /* #desktopView{
    display: none;
  } */
  
}